table.dataTable thead > tr > th {
    padding-right: 8px;
}

#assignmentsOverview tr:hover{
    background-color: #3c8dbc;
    cursor: pointer;
    cursor: hand;
}

th{
    background-color: white;
}

.tdWidth{
    width: 10%;
    white-space: nowrap;
}

.editButton, .deleteButton, .addButton, .cancelChange, .deleteQuestion, .saveInput {
    padding: 4px 4px 0px 4px;
    border: none;
    border-radius: 3px;
    width: 49%;
}

.cancelChange, .deleteQuestion, .saveInput {
    width: 33%;
}
.saveInput:disabled, .cancelChange:disabled, .deleteQuestion:disabled{
    background: #dddddd;
}

.editButton{
    background-color: #00a7d0;

}
.deleteButton, .deleteQuestion{
    background-color: #d33724;
}

.cancelChange {
    background-color: #e26363;
}

.saveInput {
    background-color: #008d4c;
}

.addButton {
    background-color: #008d4c;
    width: 100%;
}

.headText {
    width: 100%;
    margin-bottom: 10px;
}

.text {
    width: 96%;
}
