.editButton {
    background-color: #00a7d0;
}
.deleteButton, .deleteBtn {
    background-color: #d33724;
}

.addButton {
    background-color: #008d4c;
}

.headText {
    width: 100%;
    margin-bottom: 10px;
}

.text {
    width: 96%;
}
