<?php

if(isset($_POST['moveFile']))
{
    $fileName = $_FILES['fileName']['name'];
    $tempName = $_FILES['fileName']['tmp_name'];
    
    if(isset($fileName))
    {
        if(!empty($fileName))
        {
            $location = "Images/";
            if(move_uploaded_file($tempName, $location.$fileName))
            {
                echo 'File Uploaded';
            }
        }
    }
}

?>
<div class="content-wrapper">
	<form action="upload.html" method="post" enctype="multipart/form-data">
        <input type="file" name="fileName"><br><br>
    	<input type="submit" name="moveFile" value="Upload">
    </form>
</div>